*{
    margin:0;
    padding:0;
}
body{
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    color:#333;
}
a{
    text-decoration: none;
    color:#333;
}
a img{
    border:none;
}
ul,li{
    list-style-type: none;
}
img{display: block;font-size: 0}
em{
    font-style:normal;
}
input::-ms-input-placeholder{text-align: center;}
input::-webkit-input-placeholder{text-align: center;}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
input{-webkit-appearance:none; }
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
}
.clearfix{
    zoom:1
}
.fl{
    float:left;
}
.fr{
    float:right !important;
}
.fn{
    float:none;
}
.tl{
    text-align: left !important;
}
.tc{
    text-align: center;
}
.rel{
    position:relative;
}
.all-img{
    width:100%;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*-------------------------*/
.wrap{
    width:95%;
    margin:0 auto;
}
.s3{
    background:#fff;
}
.content-box{
    padding:10px 15px;

}
.row-div{
    height:25px;
    line-height:25px;
    color:#787878;
}
.l-title{
    width:70px;
    float:left;
}
.r-content{
    margin-left:80px;
}
.mt10{
    margin-top:10px;
}
.tk-h3{
    padding-bottom:5px;
    font-size:15px;
    border-bottom:1px solid #f2f2f2;
    font-family: "Microsoft YaHei", Consolas, "Courier New", monospace;
    font-weight: 400;
}
.pro-ul li{
    position:relative;
}
.pro-ul li .circle{
    position: absolute;
    top: 0;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background:url(../images/yuan.png) no-repeat 0/15px;
    z-index: 99;
}
.pro-ul li .pro-content {
    line-height:20px;
    color: #333;
    font-size:14px;
    margin-left: 12px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-right: 10px;
    border-left: 1px solid #ee2f10;
}
.mt20{
    margin-top:20px;
}
.times{
    font-size:12px;
    color:#666;
}
.un-act{
    border-left:none !important;
    color:#999 !important;

}
.act{
    background:url(../images/yuan1.png) no-repeat 0/15px !important;
}
.active{
    border-left: 1px solid #ccc !important;

}
.color-red{
    color:#F44437;
}
.no-line{
	border-left:none !important;
}